/* Global reset */
html, body {
  overflow-x: hidden;
  width: 100%;
}
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

 .search {
  height: 15px;
  padding: 20px;
  border-radius: 20px;
  margin: auto 5px;
 }
 
 .brandName {
  padding: 10px;
  margin: 0;
 }
 
 .nav_part {
  display: flex;
  padding-right: 10px;
  gap: 20px;
  margin-bottom: 0;
 }
 
 header {
  width: 100%;
  display: flex; /* Changed from inline-flex to flex */
  background-color: aqua;
  justify-content: space-between;
  padding: 15px;
  box-shadow: 2px 2px 8px;
 }
 .seller {
  text-decoration: none;
  color: black;
  font-weight: 500;
  font-size: 25px;
  margin: auto 20px;
 }
 
 
 .cart {
  text-decoration: none;
  color: black;
  font-weight: 500;
  font-size: 25px;
  margin: auto 20px;
 }
 
 .login_btn {
  font-size: 20px;
  padding: 5px 10px;
  background-color: yellow;
  color: black;
  font-weight: bold;
  border: none;
  text-decoration: none;
  margin: auto;
  box-shadow: 2px 2px 2px black;
  border-radius: 20px;
 }
 
 @media (min-width: 320px) and (max-width: 376px) {
  .search {
    display: none;
  }
  .brandName {
    font-size: 20px;
  }
  .seller{
    display: none;
  }
  .cart{
    font-size: 20px;
  }
  .login_btn {
    font-size: 15px;
    padding: 5px 10px;
    background-color: yellow;
    color: black;
    font-weight: bold;
    border: none;
    text-decoration: none;
    margin: auto;
    box-shadow: 2px 2px 2px black;
    border-radius: 20px;
  }
 }
 
 @media (min-width: 376px) and (max-width: 426px) {
  .search {
    display: none;
   }
  .brandName {
    font-size: 20px;
  }
  .seller{
    display: none;
  }
  .cart{
    font-size: 20px;
  }
  .login_btn {
    font-size: 15px;
    padding: 5px 10px;
    background-color: yellow;
    color: black;
    font-weight: bold;
    border: none;
    text-decoration: none;
    margin: auto;
    box-shadow: 2px 2px 2px black;
    border-radius: 20px;
   }
 }
 
 @media (min-width: 426px) and (max-width: 656px) {
  .search {
    width: 120px;
  }
  .seller{
    display: none;
  }
  .brandName{
    font-size: 20px;
  }
  .cart{
    font-size: 20px;
    margin:auto 5px;
  }
  .login_btn {
    font-size: 15px;
    padding: 5px 10px;
    background-color: yellow;
    color: black;
    font-weight: bold;
    border: none;
    text-decoration: none;
    margin: auto;
    box-shadow: 2px 2px 2px black;
    border-radius: 20px;
   }
 }
 
 @media (min-width: 656px) and (max-width: 769px) {
   .search {
      width: 200px;
    }
    .seller{
      font-size: 20px;
    }
    .brandName{
       font-size: 20px;
    }
    .cart{
       font-size: 20px;
       margin:auto 5px;
    }
    .login_btn {
       font-size: 15px;
       padding: 5px 10px;
       background-color: yellow;
       color: black;
       font-weight: bold;
       border: none;
       text-decoration: none;
       margin: auto;
       box-shadow: 2px 2px 2px black;
       border-radius: 20px;
     }
 }
 
 @media (min-width: 769px) and (max-width: 1025px) {
   .search {
      width: 250px;
    }
    .seller{
      font-size: 20px;
    }
    .brandName{
       font-size: 20px;
    }
    .cart{
       font-size: 20px;
       margin:auto 5px;
    }
    .login_btn {
       font-size: 15px;
       padding: 5px 10px;
       background-color: yellow;
       color: black;
       font-weight: bold;
       border: none;
       text-decoration: none;
       margin: auto;
       box-shadow: 2px 2px 2px black;
       border-radius: 20px;
     }
 }
 
 @media (min-width: 1025px) {
   .search {
     width: 350px;
   }
   .brandName {
     font-size: 25px;
   }
 }
 